@import-normalize;
html {
  font-size: 62.5%;
}
body {
  background: linear-gradient(
    to right bottom,
    #ffd1b4,
    #fec8a7,
    #fcc09b,
    #fab78e,
    #f8ae82
  );
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
  color: #6b7dff;
}
